<!DOCTYPE html>
<html>
  <head>
    <title>NetMgmt</title>
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"></strong>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">NetMgmt</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('inventory') }}">Inventory</a></li>
            <li><a href="{{ url_for('newdevice') }}">Add Device</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
     
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
